@import "tailwindcss"; 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Zalando Sans", sans-serif !important; 
}

.policy_Html  {
  line-height: 1.8;
}
.policy_Html h4 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem; 
  font-weight: 500;
} 

.policy_Html p {
  line-height: 1.75;
  color: #4d4d4d;
}
.policy_Html a {
  color: #9b1c31;
  text-decoration: underline;
}
.policy_Html a:hover {
  text-decoration: none;
}
.policy_Html ul {
  list-style-type: disc;
  padding-left: 1.5rem; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.policy_Html ol {
  list-style: decimal;
  padding-left: 1.5rem; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
